/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17-Oct-2018, 16:02:45
    Author     : Ale
*/
body,html{
    height:100%;
    padding:0px;
    margin:0px;
}

body{
    background:url(../img/fondo.jpg) no-repeat fixed center;
    background-size:cover;
}

#dificultad{
    color:white;
    position:fixed;
    top:60%;
    right:2%;
    font-size:3vw;
}

#divCentral{
    text-align:center;
    position:fixed;
    top:5%;
    width:100%;
    height:20%;
}

#divCentral img{
    height:100%;
}
#indicadores{
    position:fixed;
    top:0px;
    left:0px;
    height:80%;
    width:20%;
}
#velocidad{
    text-align:center;
    top:0px;
    width:100%;
    height:33%;
}
#velocidad img{
    height:100%;
    max-width:100%;
}
#aguja{
    position:absolute;
    top:6%;
    left:42%;
    height:26%;
}
#imgAguja{
    height:100%;
    transform:rotate(43deg);
}
#fuel{
    float:left;
    width:35%;
    height:66%;
    position:relative;
    left:10%;
}
#fuel img{
    height:100%;
    width:100%;
}
#fondoFuel{
    height:100%;
    max-height:100%;
    width:100%;
    min-width:100%;
    bottom:0px;
    position:absolute;
    background-color:rgb(225, 75, 0);
    z-index:-1;
}
#altura{
    float:left;
    width:35%;
    height:66%;
    position:relative;
    left:20%;
}
#altura img{
    height:100%;
    width:100%;
}
#fondoAltura{
    height:2%;
    max-height:2%;
    width:100%;
    top:7%;
    position:absolute;
    background-color:rgb(225, 75, 0);
    z-index:-1;
}
#botones{
    position:fixed;
    top:0px;
    right:0px;
    height:80%;
    width:20%;
}
#btMenu{
    position:absolute;
    top:0px;
    right:0px;
    height:35%;
}
#btRestart{
    position:absolute;
    top:40%;
    right:15%;
    height:16%;
}
#menu{
    position:fixed;
    top:25%;
    left:30%;
    height:40%;
    width:40%;
    z-index:2;
    display:none;
    background-color:black;
}
button{
    height:25%;
    width:100%;
    margin-bottom: 5px;
    background-color:rgb(0, 167, 208);
    color:black;
    font-family:"Times New Roman";
    font-size:3vw;
    border-radius:95px;
}
button:hover{
    background-color:rgb(225, 75, 0)!important;
    color:white!important;
}
.small_button{
    width:50%;
    float:left;
}
#btCancelInstrucciones, #btCancelAbout{
    display: block;
    height: 15%;
    margin: 0 auto;
    width: 50%;
}
.popup{
    background-color:black;
    position:fixed;
    top:20%;
    left:30%;
    height:60%;
    width:40%;
    z-index:3;
}
#instrucciones, #about{
    overflow-y: scroll;
    display:none;
}

#resPositivo, #resNegativo{
    background-color:black;
    position:fixed;
    top:5%;
    left:30%;
    height:50%;
    width:40%;
    z-index:1;
    display:none;
}

#luna{
    position:fixed;
    height:20%;
    width:100%;
    bottom:0px;
}

#luna img{
    width:100%;
    height:100%;
}

p{
    color:white;
    font-size:2vw;
    text-align:center;
}

h1{
    color:white;
    text-align: center;
}

#velM, #fuelM, #menuM{
    display:none;
}

